#common#
wheel
setuptools
asgiref
Pillow
bleach
six
Unidecode==1.1.1
sqlparse
reportlab
webencodings
xhtml2pdf
Markdown
markdown-checklist
html5lib
PyPDF2
Pygments
python-decouple
pytz


django-appconf
django-js-asset
django-formtools
django-cryptography
django-classy-tags
#django-filer requires django-polymorphic<3.1,>=2 and Django<4.0>=2.2
django-polymorphic==3.0.0
django-treebeard
django-sekizai
django-filer
django-mptt
djangocms-style
djangocms-text-ckeditor
djangocms-link
djangocms-file
djangocms-picture
djangocms-video
djangocms-googlemap
djangocms-snippet
django-crispy-forms
django-taggit
#easy-thumbnails requires django<4.0,>=2.2
easy-thumbnails

#CUSTOMER APP REQs
Babel
django-iban
django-internationalflavor
django-localflavor
django-vies
phonenumbers
django-countries
django-phonenumber-field

#django-todo==2.4.0#
#django==3.2.9#
#django-cms==3.9.0#
