#COMMON#
wheel
Unidecode
django==3.2.16
django-q

#APP CMS#
django-cms==3.9.0
#django-filer requires django-polymorphic<3.1,>=2 and Django<4.0>=2.2
django-polymorphic==3.0.0
django-filer
django-mptt
djangocms-style
djangocms-text-ckeditor
djangocms-link
djangocms-file
djangocms-picture
djangocms-video
djangocms-googlemap
djangocms-snippet
#easy-thumbnails requires django<4.0,>=2.2
easy-thumbnails

#APP NOTE#
django-summernote
django-cryptography
django-crispy-forms
django-taggit
html5lib
PyPDF2
Pygments
Pillow
reportlab
webencodings
git+https://github.com/xhtml2pdf/xhtml2pdf.git@master#egg=xhtml2pdf
Markdown
markdown-checklist
python-decouple
pytz
six

#APP TODO
bleach
git+https://github.com/escomputers/django-todo.git@master#egg=django-todo

#APP INVOICE
Babel
django-iban
django-internationalflavor
django-localflavor
django-vies
phonenumbers
django-countries
django-phonenumber-field
